
/* Google Fonts: */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Quicksand:wght@300..700&display=swap");

/* CSS Variables */
:root {
  /* Base Color Variables */
  --background-color: #222;
  --text-color: #fff;
  --accent-color: #f91;

  /* Link Color Variables */
  --link-color: #f56;
  --link-focus-underline-color: #fff;
  --link-hover-color: #fff;
  --link-active-color: #a24;

  /* Shadow Variables */
  --shadow-color: #0007;
  --default-shadow: 3px 5px var(--shadow-color);

  /* Form Input Variables */
  --input-background: #fff;
  --input-pencil: #222;
  --input-border: 3px solid #aaa;

  --button-background: #ee8;
  --button-border: 3px solid #aa4;

  --button-danger-background: #e66;
  --button-danger-border: 3px solid #a33;

  /* Sticky Note Decoration Variables */
  --stickynote-background: #fff;
  --stickynote-pencil: #222;
  --stickynote-border: 3px solid #aaa;

  /* Picture Variables: Used in the gallery and about page. */
  --picture-color: #fff;
  --picture-border: 3px solid #aaa;
  --picture-padding: 1.5rem;
}

/* Root Styling: Includes default text styles and element colors. */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Quicksand, sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

/* Link Styles */
a {
  color: var(--link-color);
  text-decoration: underline;
  transition: color 0.15s, text-decoration 0.15s;
}
a:focus {
  outline: none;
  text-decoration: underline var(--link-focus-underline-color) 2px;
}
a:hover {
  color: var(--link-hover-color);
  text-decoration: underline var(--link-hover-color) 2px;
}
a:active {
  color: var(--link-active-color);
  text-decoration: underline var(--link-active-color);
}

/* Details Styles: Used in the about page. */

details {
  margin: 1rem auto;
  text-align: left;
}

summary {
  width: 100%;
  color: var(--link-color);
  text-shadow: var(--default-shadow);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s;
}
summary:focus {
  outline: none;
  text-decoration: underline;
}
summary:hover {
  color: var(--link-hover-color);
}
summary:active {
  color: var(--link-active-color);
}

/* Form & Form Input Styling */
form {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  width: calc(100% - 20px);
  max-width: 700px;
  margin: 4px auto;
  padding: 20px;
}

input, textarea {
  width: 100%;
  margin: 4px auto;
  padding: 4px 6px;
  background-color: var(--input-background);
  color: var(--input-pencil);
  border: var(--input-border);
  border-radius: 1rem;
  font-family: "Patrick Hand", sans-serif;
  font-size: inherit;
}
textarea {
  resize: vertical;
}

/* Button Styling */
button {
  transform: rotate(4deg);
  width: fit-content;
  margin: 4px auto;
  padding: 4px;
  background-color: var(--button-background);
  color: var(--input-pencil);
  border: var(--button-border);
  box-shadow: var(--default-shadow);
  font-size: 1.2rem;
  font-family: "Patrick Hand", cursive;
  cursor: pointer;
  transition: transform 0.15s, outline 0.15s;
}
button:focus {
  outline: 5px solid #fff;
}
button:hover {
  transform: scale(1.1);
}
button:active {
  transform: scale(0.9);
}

button.btn-danger {
  background-color: var(--button-danger-background);
  border: var(--button-danger-border);
}

/* Header Content Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  background-color: var(--background-color);
  box-shadow: 0 5px var(--shadow-color);
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
}

/* Header Logo Styles */
.logo {
  display: inline-block;
  height: 100%;
  transition: transform 0.2s;
}
.logo:focus {
  transform: scale(1.1);
}
.logo:hover {
  transform: scale(1.2);
}
.logo:active {
  transform: scale(0.9);
}

/* Footer Content Styles */
footer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  min-height: 240px;
}

/* Faded Class: Used to dim elements. */
.faded {
  opacity: 70%;
}

/* Icon List: A general purpose list for icons. */
.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

/* Sticky Note Styles: Used for decoration. */
@keyframes stickynote-shake {
  33% {
    transform: rotate(-6deg);
  }
  66% {
    transform: rotate(8deg);
  }
}

.stickynote {
  display: block;
  transform: rotate(4deg);
  width: fit-content;
  margin: 1rem auto;
  padding: 8px;
  background-color: var(--stickynote-background);
  color: var(--stickynote-pencil);
  border: var(--stickynote-border);
  box-shadow: var(--default-shadow);
  font-family: "Patrick Hand", cursive;
  cursor: default;
}
.stickynote:nth-of-type(2n) {
  transform: rotate(-4deg);
}
.stickynote:hover {
  animation: 0.5s ease-in-out stickynote-shake;
}

/* Social Icons */

.social-icon {
  display: block;
  width: 64px;
  height: 64px;
  transition: transform 0.2s;
}
.social-icon:focus {
  transform: scale(1.2);
  outline: none;
}
.social-icon:hover {
  transform: scale(1.2) rotate(4deg);
}
.social-icon:active {
  transform: scale(0.9) rotate(-4deg);
}

.social-icon img {
  width: 100%;
  height: 100%;
}

/* Utility class for those who prefer reduced motion. */
.show-when-reduced {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

/*
  Remove all animations and transitions for those who prefer reduced motion and
  display reduced motion replacements instead of reduced motion elements.
*/

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation-duration: 0.001s !important;
    animation-iteration-count: 1 !important;
  }

  .hide-when-reduced {
    display: none !important;
  }

  .show-when-reduced {
    display: unset;
    position: unset;
    left: unset;
    width: unset;
    height: unset;
    overflow: unset;
  }
}



